body {
    background-color: #e6e6fa;
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** Cartao de mensagem ***/
.love-card {
    max-width: 600px;
    border: none;
    border-radius: 15px;
    background-color: #f8f0ff;
    box-shadow: 0 8px 16px rgba(102, 51, 153, 0.2);
    margin: auto;
}

.timer {
    color: #050505;
    line-height: 1.8;
    font-weight: 500;
}

.love-message {
    background-color: #f5f0ff;
    border-left: 4px solid #663399;
    text-align: center;
}

.love-message p {
    margin-bottom: 0.5rem;
    color: #161616;
}

.fst-italic {
    color: #8a2be2;
}

/*** Player de Música Personalizado ***/
.music-player {
    width: 300px;
    height: 180px;
    border-radius: 20px;
    background-color: rgba(102, 51, 153, 0.2);
    box-shadow: 0 10px 100px rgba(102, 51, 153, 0.2);
    padding: 15px;
    overflow: hidden;
    color: #000000;
    margin: auto auto 20px auto;
    
}

.music-name,
.artist-name{
    text-align: center;
    text-transform: capitalize;
}

.music-name {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 5px;
}

.artist-name {
    font-size: 12px;
    font-style: oblique;
}

/** Barra de progresso **/
.song-slider{
    width: 100%;
    position: relative;
}

.seek-bar{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #a16bd4;
    cursor: pointer;
    overflow: hidden;
}

.seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    box-shadow: -400px 0 0 400px #663399;
}

.current-time,
.music-duration{
    font-size: 10px;
    top: 20px;
}
.current-time{
    position: absolute;
    left: 0;
}
.music-duration{
    position: absolute;
    right: 0;
}

/** Botoes de controle **/
.controls{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

/* Botao play e pause */
.play-btn{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #a16bd4;
    cursor: pointer;
    border: none;
}

.play-btn span{
    width: 5px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    border-radius: 1px;
    background-color: #ffffff;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
} 

.play-btn span:nth-child(2){
    left: 55%;
    transform-origin: center;
}

.play-btn.pause span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}

/* Configurando botao de pause */
.play-btn.pause span:nth-child(1){
    width: 45%;  
    height: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 0% 100%);
}

/* Transição de ícone de pause para play */
.play-btn.pause span:nth-child(2){
    left: 50%; 
    transform: translateY(-50%) scaleX(0);
} 

/* Efeito de destaque pulsante ao botão em estado de pause */
.play-btn.pause{
    animation: pulse 2s linear infinite;
}

@keyframes pulse {
    0%{
        box-shadow: 0;
    }
    50%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
    }
    100%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    }
}

/** Botoes de próximo e anterior **/
.btn{
    width: 25px;
    height: 25px;
    background-color: #a16bd4;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: pointer;
}

.btn-pre-nxt{
    position: relative;
    width: 14px;
    height: 14px;
    align-content: center;
}


/*** Responsividade ***/
@media (max-width: 576px) {
    .carousel-img {
        height: 200px;
    }
    
    .love-card {
        padding: 1.5rem !important;
    }
    .timer {
        font-size: 1.2rem; /* Reduz o tamanho da fonte do timer se desejar */
    }
}